<section class="scroll-m-24" id="about" >
    <div  class="grid grid-cols-2 p-4 gap-4 max-w-7xl mx-auto my-32 bg-cover  bg-[url(assets/img/educationbg.png)]">
        <h1  class=" col-span-2 text-3xl font-bold text-center my-16 underline underline-offset-2 decoration-[#9edfeb]">
            Education & Certificates</h1>
        <h2 class="col-span-2 text-2xl font-bold">CodeFactory Wien <span class="text-base font-normal">Dec/2021</span></h2>
        <h3 class="col-span-2 text-xl font-bold text-center ">Fullstack Web Developer course</h3>
        <h4 class="text-xl font-medium text-center underline underline-offset-2 decoration-[#92dfec] ">Frontend Web
            Development</h4>
        <h4 class=" text-xl font-medium text-center underline underline-offset-2 decoration-[#92dfec]">Backend Web
            Development</h4>
        <ul class="text-base text-center  md:text-lg">
            <li>Version Control (Git -GitHub)</li>
            <li> HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>Bootstrap</li>
            <li>Project Documentation</li>
            <li> TypeScript</li>
            <li> Angular</li>
        </ul>
        <ul class="text-base text-center  md:text-lg">
            <li> SQL (MySQL)</li>
            <li>SCRUM & Requirements Engineering</li>
            <li> PHP</li>
            <li> AJAX</li>
            <li>Symfony PHP framework</li>
            <li>Software Testing</li>
            <li>Complementary skills</li>
        </ul>
    </div>
</section>




<div class="relative flex flex-row-reverse mx-auto  max-w-7xl min-w-fit">
    <figure class="relative text-right text-black md:text-center ">
        <img src="assets/img/about.png" class="" alt="">
        <figcaption class="absolute text-4xl text-center bottom-16 right-8 sm:right-22 sm:left-28 sm:top-36 md:top-44 md:left-30 md:center-0 md:px-4">
            <div>
                <h1 class="font-bold md:text-5xl">Got a Project? </h1>
            </div>
            <div>
                <h1 class="font-bold md:text-5xl">Let's Talk!</h1>
            </div>
        </figcaption>

    </figure>
</div>