<!--grid goes here-->
<section class="scroll-m-24" id="hero">
    
    <div class="flex items-center justify-center py-24 ">
        <img src="../assets/img/avatar.png" class="h-40 w-40
                        lg:h-48 lg:w-48 max-h-48 max-w-48
                        md:h-48 md:w-48 rounded-full bg-[#C9E7EC] "
            alt="Aleksandar avatar">
    
    </div>
    
    <div class="flex items-center justify-center text-2xl font-bold text-center md:text-4xl ">Hi, I’m
        Aleksandar <span><img src="../assets/img/waving-hand.png" class="w-8 h-8 m-3 md:h-10 md:w-10 md:m-2" alt=""></span></div>
    <div
        class="flex items-center justify-center mb-4 text-4xl font-extrabold text-center md:text-6xl xl:text-7xl md:tracking-wide">
        a Web Developer</div>
    <div class="flex items-center justify-center text-xl font-medium text-center md:text-4xl xl:text-3xl">
        <h3>who
            <span
                class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-[#d8eff3] relative inline-block mt-4">
                <span class="relative text-black">loves</span>
            </span> building user friendly websites and web pages
        </h3>
    </div>
    <div class="flex items-center justify-center my-14 md:my-28"><a href="mailto:aleksandar1812sgmail.com">
        <button
                class="px-5 py-5 text-white duration-300 bg-black rounded-full hover:bg-gray-700">CONNECT WITH
                ME</button>
    </a></div>
</section>