<section class="scroll-m-24" id="skills" >
    <div id="skills-button" (click)="toggleSkills()" class="grid gap-4 p-4 mx-auto my-16  on max-w-7xl sm:grid-cols-2 md:grid-cols-3 bg-blend-overlay">
        <h1
            class="text-2xl font-extrabold text-center md:text-4xl md:self-center md:col-start-1 md:col-span-1 lg:col-start-1 lg:text-center md:text-center lg:grid-cols-3 lg:col-span-3">
            Skills</h1>
        <div class="relative flex flex-col h-48 sm:h-auto sm:squaretwo group">
            <div class="p-3">
                <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/285/laptop_1f4bb.png"
                    alt="frontend img" class="w-12 h-12 md:w-20 md:h-16" />
            </div>
            <h3 class="font-black text-gray-800 text-xl md:text-2xl p-2  underline underline-offset-2 decoration-[#c9e7ec] ">Frontend
                Technologies</h3>
            <span class="p-2 font-medium text-gray-400">I love tackling digital problems and help fix them</span>
    
            <!--absolute div-->
            <div 
                class="gap-3 md:gap-1 xl:gap-3 lg:gap-3 opacity-0 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 top-0 right-0 flex justify-center items-center text-xl bg-[#C9E7EC]  text-gray-700 font-medium">
                <ul class="text-base">
                    <li>TypeScript / JavaScript</li>
                    <li>Angular</li>
                    <li>Tailwind CSS</li>
                    <li>Bootstrap 5</li>
                    <li></li>
                </ul>
            </div>
        </div>
    
    
        <div class="relative h-48 sm:h-auto sm:squaretwo group lg:col-start-2 ">
            <div class="p-3">
                <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/285/gear_2699-fe0f.png"
                    alt="frontend img" class="w-12 h-12 md:w-20 md:h-16" />
            </div>
            <h3 class="font-black text-gray-800 text-2xl p-2  underline underline-offset-2 decoration-[#c9e7ec] ">Backend
                Technologies</h3>
            <span class="font-medium text-gray-400 ">In 2022 I'm open to tackling new backend projects</span>
    
    
    
            <!--absolute div-->
            <div
                class="gap-3 md:gap-1 xl:gap-3 lg:gap-3 opacity-0 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 top-0 right-0 flex justify-center items-center text-xl bg-[#C9E7EC]  text-gray-700 font-medium">
                <ul class="text-base">
                    <li>PHP</li>
                    <li>MySQL</li>
                    <li>Symfony</li>
                    <li>AJAX</li>
                </ul>
            </div>
        </div>
        <div class="relative h-48 sm:h-auto sm:squaretwo md:col-start-3 group ">
    
    
            <div class="p-3">
                <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/285/direct-hit_1f3af.png"
                    alt="frontend img" class="w-12 h-12 md:w-20 md:h-16" />
            </div>
            <h3 class="font-black text-gray-800 text-2xl p-2  underline underline-offset-2 decoration-[#c9e7ec] ">General
                Skills</h3>
            <span class="p-2 text-gray-400 md:font-medium font-base">Organising the roadmap to bring 100% of every project</span>
    
            <!--absolute div-->
            <div
                class="gap-3 md:gap-1 xl:gap-3 lg:gap-3 opacity-0 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 top-0 right-0 flex justify-center items-center text-xl bg-[#C9E7EC]  text-gray-700 font-medium">
                <ul class="text-base">
                    <li>Agile Project Management</li>
                    <li>Version Control & Collaboration (Git & GitHub</li>
                    <li>Database Conceptualization</li>
                    <li>Project Documentation 5</li>
    
                </ul>
            </div>
        </div>
    
    
    
    </div>
    
</section>

